.searcher {
    display: flex;
    height: 70%;
    margin: 0;
    border: 0;
    text-align: center;
}

.searcher-button {
    background: none;
    height: 100%;
    border: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: white;
    overflow: none;
}

.searcher-submit-button {
    background-color: white;
    border: 0;
    color: hsla(360, 100%, 80%, 1);
}

.searcher-submit-button:hover {
    cursor: pointer;
}

.searcher-submit-button:hover > span {
    font-weight: 800;
    color: rgb(247, 73, 73);
}

.searcher-button:hover {
    cursor: pointer;
}

.searcher input {
    transition: all 0.5s ease-in-out;
    border: 0;
}

.searcher input:active,
input:focus {
    border: 0;
    outline: none;
}
